# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
picam-viewer/node_modules
test-auth0/node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
