@import "image-gallery.css";
@import '/node_modules/react-tabs/style/react-tabs.css';
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  padding: 58px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-right { margin-right: 0px !important}
.log {
  margin: 5px 10px 0 0;
}
 .imageContainer {
    width: 60%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.rightMenu{
    float:left;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* .image-gallery-image img {
  width: 50%;
  height: 50%;
} */
