@import "image-gallery.css";
@import '/node_modules/react-tabs/style/react-tabs.css';
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  padding: 58px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar-right { margin-right: 0px !important}
.log {
  margin: 5px 10px 0 0;
}
 .imageContainer {
    width: 60%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.rightMenu{
    float:left;
}

/* .image-gallery-image img {
  width: 50%;
  height: 50%;
} */
